* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.app-logo {
  height: 40px;
  width: 120px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .app-logo {
    height: 50px;
    width: 180px;
  }
}

.app {
  width: 90%;
  border-radius: 12px;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
}

.form-container {
  background-color: #7683cb;
  border-radius: 10px;
}

.input-container {
  background-color: #454f84;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  order: 1;
  height: 100%;
}

@media screen and (min-width: 766px) {
  .input-container {
    max-width: 350px;
    max-height: 100%;
    order: 0;
  }
}

.responsive-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}

@media screen and (min-width: 767px) {
  .heading {
    font-size: 30px;
  }
}

.web-icon {
  height: 25px;
  width: 25px;
  border-right: 1px solid #94a3b8;
  padding: 5px;
}

@media screen and (min-width: 767px) {
  .web-icon {
    height: 30px;
    width: 30px;
    height: 100%;
  }
}

.input-search {
  border: 1px solid #f8fafc;
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-element {
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  outline: none;
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 600;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .input-element {
    max-width: 440px;
  }
}

.button {
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

.button-container {
  text-align: right;
  margin-bottom: 10px;
}

.password-img {
  height: 30%;
  width: 100%;
}

@media screen and (min-width: 766px) {
  .password-img {
    display: flex;
    height: 30%;
    width: 50%;
  }
}

.form-container2 {
  background-color: #7683cb;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.flex-container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
}

.responsive {
  width: 90%;
  align-items: center;
}

.search-container {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-right: 1px solid #94a3b8;
}

.search-input {
  outline: none;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
}

.yourPassword {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .yourPassword {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .yourPassword {
    font-size: 22px;
  }
}

.span-input {
  background-color: transparent;
  border: 1px solid #f8fafc;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .span-input {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
  }
}

.flex-container {
  display: flex;
}

.Password-container {
  display: flex;
  align-items: center;
}

.label {
  font-size: 13px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}

.label-input {
  border: none;
  padding: 10px;
}

.show-password {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.empty-image {
  width: 220px;
  height: 170px;
}

@media screen and (min-width: 768px) {
  .empty-image {
    width: 50%;
    height: 55%;
  }
}

.no-passwords {
  color: #f8fafc;
  font-size: 14px;
  font-family: 'roboto';
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .no-passwords {
    font-size: 22px;
  }
}
.yellow {
  background-color: #f59e0b;
}

.green {
  background-color: #10b981;
}

.orange {
  background-color: #f97316;
}

.brown {
  background-color: #b91c1c;
}

.blue {
  background-color: #0ea5e9;
}
/* ul */
.profile {
  border-radius: 25px;
  width: 35px;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  color: white;
  font-family: 'roboto';
}
.website {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 2px;
  font-weight: 500;
}

.stars-image {
  width: 80px;
  height: 10px;
  margin-top: 5px;
  margin-left: 2px;
}
.del-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-left: auto;
  cursor: pointer;
}

.del-image {
  width: 20px;
  height: 20px;
}
.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #f8fafc;
  height: 100%;
  margin-left: 5px;
}

.item-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #9ba9eb;
  border-radius: 8px;
  padding: 10px;
  margin-right: 18px;
  margin-bottom: 18px;
}
.result-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0px;
}
